.footer-div {
  background-color: #0d1117;
  padding: 100px;
}

.footer-div .logo {
  width: 20vw;
  margin: auto;
  display: block;
}

.footer-copyright {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .footer-div {
    padding: 100px;
  }
  .footer-div .logo {
    width: 25vw;
  }
}

@media (max-width: 575px) {
  .footer-div .logo {
    width: 200px;
  }
}
