.intro-section {
  position: relative;
  padding: 15vh 22%;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1000;
}

.intro-title-section {
  padding-bottom: 50vh;
}

.introTitle1,
.introTitle2,
.introTitle3 {
  color: #ffffff;
  font-size: 10vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 17vh;
}

.introTitle1 {
  color: #5f82ff;
}

.intro-description {
  color: #ffffff;
  font-size: 3vw;
  font-weight: 300;
}

.expo-section p {
  text-align: center;
  margin-bottom: 0;
}

.expo-img {
  margin: 30px auto 0;
  display: block;
  width: 30vw;
}

.service-section {
  position: relative;
  background-color: #0d1117;
  padding: 20vh 10%;
  display: flex;
}

.service-intro-section {
  width: 55vw;
}

.plane-img {
  width: 25vw;
}

.service-description-section {
  background-color: #ffffff;
  padding: 10vh 10%;
}

.service-title {
  color: #5f82ff;
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.service-description {
  color: #0d1117;
  font-size: 1.5vw;
  text-align: center;
}

.service-description-row-1,
.service-description-row-2 {
  margin: 50px 0 0;
}

.service-svg {
  width: 10vw;
  height: 12vh;
  margin: 0 auto 20px;
  display: block;
}

.service-description-last {
  margin-top: 50px;
}

@media (max-width: 1199px) {
  .intro-section {
    padding: 25vh 22%;
  }
  .introTitle1,
  .introTitle2,
  .introTitle3 {
    line-height: 13vh;
  }
}

@media (max-width: 991px) {
  .intro-section {
    padding: 25vh 50px 5vh;
  }
  .intro-title-section {
    padding-bottom: 30vh;
  }
  .introTitle1,
  .introTitle2,
  .introTitle3 {
    font-size: 15vw;
    line-height: 12vh;
  }
  .introTitle1 {
    color: #5f82ff;
  }
  .intro-description {
    font-size: 4vw;
  }
  .expo-section {
    margin: 20vh 50px;
  }
  .expo-img {
    width: 50vw;
  }
  .service-section {
    padding: 100px 50px;
    display: block;
  }
  .service-intro-section {
    width: auto;
  }
  .plane-img {
    margin-left: calc(50vw - 100px);
    width: 50vw;
  }
  .service-description-section {
    padding: 100px 50px;
  }
  .service-title {
    font-size: 7vw;
  }
  .service-description {
    font-size: 1rem;
  }
  .service-description-row-1,
  .service-description-row-2 {
    margin: 30px 0 0;
  }
  .service-svg {
    width: 10vw;
    height: 10vh;
    margin: 0 auto;
  }
  .service-description-last {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .introTitle1,
  .introTitle2,
  .introTitle3 {
    line-height: 10vh;
  }
}

@media (max-width: 575px) {
  .intro-section {
    padding: 30vh 30px 5vh;
  }
  .intro-title-section {
    padding-bottom: 25vh;
  }
  .introTitle1,
  .introTitle2,
  .introTitle3 {
    line-height: 70px;
  }
  .intro-description {
    font-size: 5vw;
  }
  .expo-img {
    width: 60vw;
  }
  .service-section {
    padding: 100px 30px;
  }
  .plane-img {
    width: 70vw;
    margin-left: calc(30vw - 60px);
  }
  .service-description-section {
    padding: 100px 30px;
  }
  .service-title {
    font-size: 10vw;
  }
  .service-svg {
    width: 25vw;
    height: 15vh;
    margin: 20px auto 0;
  }
}
